body{
    background-image: url("work desktop.jpg");
}
.calculator{
    margin: 120px auto;
    width: 25vh;
    height: 37vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 3%;
    overflow: hidden;
    box-shadow: 0 0 2px 2px rgb(212, 211, 211);
}
.display{
    height: 70px;
    width: 350px;
    background-color: rgb(245, 241, 241);
    text-align: right;
    padding: 20px 70px 0 98px;
    font-size: 30px;
    color: rgb(87, 86, 90);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: 30vh;
    width: 25vh;
}
.button{
    outline: none;
    box-sizing: border-box;
    color: #48484A;
    font-size: 1.5em;
    border-radius: 15%;
}
.center-numbers{
    background-color: rgb(189, 206, 232);
    color: rgb(48, 47, 47);
}
.center-numbers:hover{
    background-color: rgb(68, 185, 197);
    border-radius: 30%;
}
.deletes{
    background-color: rgb(236, 165, 34);
}
.deletes:hover{
    background-color: #FF9800;
    border-radius: 30%;
}
.operations,.modify{
    background-color: rgb(40, 64, 84);
    color: seashell;
}
.operations:hover, .modify:hover{
    background-color: rgb(66, 107, 141);
    color: orange;
    border-radius: 30%;
}